@model MvcMovie.Models.ImpiegatoConFile

@{
    ViewData["Title"] = "risultato inserimento";
    ViewBag.TitoloPagina = "Ecco cosa hai scritto";
    Layout = "_Layout";
}

<table cellpadding="0" cellspacing="0" class="center">
    <tr>
        <th colspan="2" align="center">Person Details</th>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(Model => Model.Id): </td>
        <td>
            @Html.DisplayFor(Model => Model.Id)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(Model => Model.Photo): </td>
        <td>
            <img src="@Url.Content(Model.Photo)" />
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(Model => Model.FullName): </td>
        <td>
            @Html.DisplayFor(Model => Model.FullName)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(Model => Model.Gender): </td>
        <td>
            @Html.DisplayFor(Model => Model.Gender)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(Model => Model.City): </td>
        <td>
            @Html.DisplayFor(Model => Model.City)
        </td>
    </tr>
    @*
    <tr>
        <td>@Html.DisplayNameFor(Model => Model.File): </td>
        <td>
            @Html.DisplayFor(Model => Model.File)
        </td>
    </tr>
    *@
</table>